#Exclude build cpp files
*.a
*.o
*.d
*.so

#Exclude temporal files
*~

#Exclude eclipse generated directories
/Debug
/Release

#Exclude executables from jenkins debug dir
/JDebug/KataPokerHandsTestSuite
/JDebug/KataPokerHandsTestSuite.xml

